## Welcome to the Phycorder config file
# Change the variable values to match the files and numbers you wish to use
# this is the path to the phycorder directory. Dont move it.

PHYCORDER=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

# the path to the previously generated alignment file

align="$PHYCORDER/testdata/phycorder_testdata.fasta"

# the path to the previously generated tree file made from the alignment file

tree="$PHYCORDER/testdata/RAxML_bestTree.phycorder_testdata.out"

# the directory of paired end read pairs you belonging to taxa you wish to add to your phylogeny

read_dir="$PHYCORDER/testdata"

# the number of taxa that can be added to the phylogeny at a single time
# should be less than the number of cores available
# should be balanced with the number of threads you will assign to the programs within phycorder

phycorder_runs="2"

# the number of threads you wish to make available to each phycorder run
# for mapping with bowtie and inference with RAxML

threads="2"

# the tail identifiers of the read pairs
# if the full read name is "Clade_1_01_R1_001.fastq" and Clade_1_01_R2_001.fastq"
# then only put the portion of the file names that change to correspond to the read pairs
# in this example, Clade_1_01_ identify the taxons and so must not be included

r1_tail="R1_.fastq"
r2_tail="R2_.fastq"

# the output directory for your final information

outdir="phycorder_test"

#Bootstrapping: Switch to "ON" to enable bootstrapping output. Switch to "OFF" to disable bootstrapping
bootstrapping="OFF"

